{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 6,
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  },
  "plugins": [
    "@vue/babel-plugin-transform-vue-jsx",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    [
      "import",
      {
        "libraryName": "iview",
        "libraryDirectory": "src/components"
      }
    ]
    // [
    //   "import",
    //   {
    //     "libraryName": "ant-design-vue",
    //     "libraryDirectory": "es",
    //     "style": "css"
    //   }
    // ]
  ]
}
